 .navbar{
    height: 80px;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
    }
    .left{
        display: flex;
        align-items: center;
        gap: 25px;
        img{
            height: 35px;
        }
    }
    .center{
        font-size: 30px;
        letter-spacing: 2px;
    }

    .right{
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }
    .icons{
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;
    }
    .cartIcon{
        position: relative;
        span{
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center; // vertically
            justify-content: center; //horiontically
        }
    }
 }